    body {
        counter-reset: section;

        background-color: yellow;
    }

    p {
        color: blue;
        font-weight: bold;
        background-color: lightgreen;
        display: block;
    }

    p::before {
        counter-increment: section;

        content: "Verso " counter(section) ": ";

    }

    h2 {
        color: black;
        font-size:large;
        font-weight: 1000;
        background-color: lightcoral;
    }

    h2::before {
        counter-increment: section;

        content: "Estrofa " counter(section) ": ";
    }
    span{
        background-color: blue;
        display: block;

    }