    body {
    counter-reset: section;
   
    background-color: yellow;
}
p{
    color:blue;
    
}

p::before {
    counter-increment: section;
    
    content: "Verso " counter(section) ": ";
    
}
h2{
color:black

}
h2::before{
    counter-increment: section;
    
    content: "contador " counter(section) ": ";
}