    body {
        counter-reset: section;

        background-color: #182747;
    }

    p {
        color: #D8D8D8;
        font-weight: bold;
        background-color: #647E68;
        display: block;
    }

    p::before {
        counter-increment: section;

        content: "Verso " counter(section) ": ";

    }

    h2 {
        color: #D8D8D8;
        font-size:large;
        font-weight: 1000;
        background-color: #647E68;
    }

    h2::before {
        counter-increment: section;

        content: "Estrofa " counter(section) ": ";
    }
    span{
        background-color: #562B08;
        display: block;

    }